.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.l-top {
  display: block;
  min-height: 100vh;
  padding: 26px 0 206px 0;
  background: url("../images/top_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 90px 0 34px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 110px;
    color: #95c132;
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 54px 0 0 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.l-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
  &__logo {
    display: inline-block;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 75px;
      max-height: 75px;
    }
    &-text {
      display: block;
      margin: 17px 0 0 0;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    margin: 0 65px 0 0;
    &__title {
      display: block;
      margin: 0 0 7px 0;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #828282;
    }
    &__text {
      display: block;
      margin: 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      a {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #95c132;
          text-decoration: none;
        }
      }
    }
  }
  &-phone {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    position: relative;
    margin: 0;
    &__number {
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #95c132;
        text-decoration: none;
      }
    }
  }
  &-link {
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #95c132;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.l-free {
  display: block;
  position: relative;
  padding: 100px 0;
  background: #1c1c1c;
  &_bordered {
    border-right: 1px solid #595959;
  }
  &__title {
    display: block;
    margin: 0 0 90px 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 160px;
      background: url("../images/form_icon_plus.png") no-repeat 0 0;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 60px 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
  &-input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    label {
      display: block;
      position: absolute;
      margin: -34px 0 0 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #595959;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    input {
      display: block;
      position: relative;
      width: 100%;
      padding: 13px 0;
      border: 0;
      outline: none;
      border-bottom: 1px solid #595959;
      background: transparent;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #ffffff;
      }
      &:focus,
      &:valid {
        & ~ label {
          margin-top: -55px;
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    margin: 30px 0 0 0;
    border: 0;
    outline: none;
    background: transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #95c132;
    &-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      margin-left: 14px;
      border-radius: 999rem;
      border: 1px solid #ffffff;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-free__button-arrow {
        background: #ffffff;
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 30px 0 0 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #595959;
  }
}

.l-why {
  display: block;
  position: relative;
  padding: 150px 0 100px 0;
  background: #95c132 url("../images/why_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 125px 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #1c1c1c;
  }
  &-card {
    display: block;
    position: relative;
    margin: 0 0 90px 0;
    &__title {
      display: block;
      margin: 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #1c1c1c;
    }
    &__text {
      display: block;
      margin: 9px 0 0 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #1c1c1c;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -17px;
      left: -17px;
      width: 13px;
      height: 13px;
      background: url("../images/icon_plus_white.png") no-repeat center center;
      background-size: contain;
      z-index: 1;
    }
  }
}

.l-tasks {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
  overflow: hidden;
  &__title {
    display: block;
    position: absolute;
    top: 100px;
    left: calc((100vw - 1170px) / 2);
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
    z-index: 4;
    pointer-events: none;
  }
  &-card {
    position: relative;
    width: 33.3333%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &__centered {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
      padding: 300px 15px;
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      transition: all 0.2s ease-out;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      margin: 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      pointer-events: none;
      p {
        margin: 0 0 30px 0;
      }
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      pointer-events: none;
    }
    &__subtitle {
      display: block;
      margin: 23px 0 6px 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      pointer-events: none;
    }
    &__price {
      display: block;
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      pointer-events: none;
    }
    &__image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      z-index: -1;
    }
    &__button {
      display: inline-flex;
      align-items: center;
      margin: 70px 0 0 0;
      border: 0;
      outline: none;
      background: transparent;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #95c132;
      pointer-events: all !important;
      &-arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        margin-left: 14px;
        border-radius: 999rem;
        border: 1px solid #ffffff;
        img,
        svg {
          display: block;
          max-width: 100%;
          max-height: 100%;
          transition: all 0.2s ease-out;
        }
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .l-tasks-card__button-arrow {
          background: #ffffff;
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__close {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 50px;
      z-index: 3;
      img,
      svg {
        display: block;
        max-width: 40px;
        max-height: 40px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.9);
        text-decoration: none;
      }
    }
    &_hide {
      width: 0%;
    }
    &_active {
      width: 100%;
      cursor: default;
      br {
        display: none;
      }
      .l-tasks-card__close {
        display: block;
      }
      .l-tasks-card__image {
        width: 50%;
      }
      .l-tasks-card__centered {
        align-items: flex-start;
        width: 50%;
        left: 50%;
        padding: 100px 200px;
        background: #1c1c1c;
        text-align: left;
      }
      .l-tasks-card__content {
        height: auto;
        margin: 75px 0 0 0;
      }
      &:hover {
        .l-tasks-card__centered {
          background: #1c1c1c !important;
        }
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-tasks-card__centered {
        background: rgba(0, 0, 0, 0.75);
      }
      text-decoration: none;
    }
  }
}

.l-features {
  display: block;
  position: relative;
  padding: 90px 0 25px 0;
  background: #e5e5e5;
  &__title {
    display: block;
    margin: 0 0 80px 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #1c1c1c;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 234px;
    margin: 0 0 90px 0;
    &__image {
      display: flex;
      align-self: center;
      width: 100%;
      height: 55px;
      img,
      svg {
        display: block;
        max-width: 50px;
        max-height: 50px;
      }
    }
    &__title {
      display: block;
      margin: 20px 0 0 0;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #1c1c1c;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -17px;
      left: -17px;
      width: 13px;
      height: 13px;
      background: url("../images/icon_plus_green.png") no-repeat center center;
      background-size: contain;
      z-index: 1;
    }
  }
}

.l-warranty {
  display: block;
  position: relative;
  padding: 90px 0;
  background: #1c1c1c;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 0 70px 0;
  }
  &__title {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
  }
  &__cards {
    display: block;
    position: relative;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 550px;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 230px;
      margin-bottom: 30px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
    }
    &__number {
      display: block;
      margin: 0;
      font-weight: 300;
      font-size: 65px;
      line-height: 79px;
      color: #95c132;
    }
    &__text {
      display: block;
      margin: 20px 0 0 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 100px;
  }
}

.l-already {
  display: block;
  position: relative;
  padding: 120px 0 50px 0;
  background: #95c132 url("../images/already_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1c1c1c;
    b,
    strong {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #1c1c1c;
    }
  }
  &__info {
    display: block;
    margin: 44px 0 0 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #1c1c1c;
    opacity: 0.6;
  }
  &__right {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
  &-input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    label {
      display: block;
      position: absolute;
      margin: -34px 0 0 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #595959;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    input {
      display: block;
      position: relative;
      width: 100%;
      padding: 13px 0;
      border: 0;
      outline: none;
      border-bottom: 1px solid #595959;
      background: transparent;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1c1c1c;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #1c1c1c;
      }
      &:focus,
      &:valid {
        & ~ label {
          margin-top: -55px;
          font-size: 10px;
          line-height: 12px;
          color: #1c1c1c;
        }
      }
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    margin: 70px 0 0 0;
    border: 0;
    outline: none;
    background: transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1c1c1c;
    &-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      margin-left: 14px;
      border-radius: 999rem;
      border: 1px solid #1c1c1c;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        filter: brightness(0);
        transition: all 0.2s ease-out;
      }
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-already__button-arrow {
        border-color: #ffffff;
        background: #ffffff;
        img,
        svg {
          filter: none;
        }
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__file {
    display: block;
    position: relative;
    width: 100%;
    max-width: 190px;
    margin: 10px 0 0 0;
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      position: absolute;
      opacity: 0;
    }
    & > div {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1c1c1c;
      img,
      svg {
        display: block;
        max-width: 22px;
        max-height: 22px;
        margin-right: 11px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          filter: brightness(0) invert(1);
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-gallery {
  display: block;
  position: relative;
  padding: 80px 0 0 0;
  background: #1c1c1c;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    flex: 1 1 240px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

.l-footer {
  display: block;
  position: relative;
  padding: 45px 0 30px 0;
  background: #1c1c1c;
  &-info {
    display: block;
    margin: 0 0 20px 0;
    &__title {
      display: block;
      margin: 0 0 7px 0;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #828282;
    }
    &__text {
      display: block;
      margin: 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      a {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #95c132;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: block;
    margin: 0 0 32px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    a {
      color: #828282;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #95c132;
        text-decoration: none;
      }
    }
  }
  &__policy {
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #95c132;
      text-decoration: none;
    }
  }
}

.l-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #1c1c1c;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 50px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    padding: 20px 15px;
    background-color: transparent;
  }
  &__title {
    display: block;
    margin: 0 0 100px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #95c132;
  }
}

.l-thx {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #1c1c1c;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 50px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 20px 0;
    padding: 20px 15px;
    background-color: transparent;
    text-align: center;
    img,
    svg {
      display: block;
      max-width: 100%;
    }
  }
  &__title {
    display: block;
    margin: 30px 0 20px 0;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    color: #95c132;
  }
  &__subtitle {
    display: block;
    margin: 0 0 34px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.l-contacts {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #1c1c1c;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 50px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 20px 0;
    padding: 20px 15px;
    background-color: transparent;
    text-align: center;
    img,
    svg {
      display: block;
      max-width: 100%;
    }
  }
  &__title {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #95c132;
  }
}

.l_show_mob {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .l-tasks__title {
    left: calc(((100vw / 4) - 210px) / 2);
  }
}

@media (max-width: 1199px) {
  .l-top__title {
    font-size: 36px;
    line-height: 1.2;
  }
  .l-top__subtitle {
    font-size: 28px;
    line-height: 1.2;
    br {
      display: none;
    }
  }
  .l-gallery__title {
    font-size: 28px;
    line-height: 1.2;
  }
  .l-gallery-card {
    flex: 1 1 150px;
  }
  .l-free__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.2;
  }
  .l-header-info {
    display: block;
    width: 100%;
    margin: 0;
  }
  .l-header-info__title {
    margin: 10px 0 3px 0;
  }
  .l-header-phone {
    margin-top: 10px;
  }
  .l-header-phone {
    align-items: flex-start;
  }
  .l-top__title {
    margin: 40px 0 10px 0;
  }
  .l-top__text {
    margin: 20px 0 0 0;
  }
  .l-top {
    padding: 20px 0 60px 0;
  }
  .l-free {
    padding: 40px 0;
  }
  .l-free-card__image {
    width: 100%;
  }
  .l-free__subtitle {
    margin-bottom: 30px;
  }
  .l-free-input {
    margin-bottom: 30px;
  }
  .l-why {
    padding: 40px 0;
  }
  .l-why__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.2;
  }
  .l-why-card {
    margin-bottom: 20px;
  }
  .l-tasks__title {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding: 40px 15px 60px 15px;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #1c1c1c;
  }
  .l-tasks {
    flex-flow: column nowrap;
  }
  .l-tasks-card {
    width: 100%;
  }
  .l-tasks-card_active .l-tasks-card__centered {
    left: 0;
    width: 100%;
    padding: 45px 15px;
  }
  .l-tasks-card__close {
    padding: 20px;
  }
  .l-tasks-card_active .l-tasks-card__content {
    margin-top: 20px;
  }
  .l-features {
    padding: 40px 0;
  }
  .l-features__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.2;
  }
  .l-features-card {
    margin-bottom: 20px;
  }
  .l-warranty {
    padding: 40px 0;
  }
  .l-warranty__title {
    font-size: 24px;
    line-height: 1.2;
  }
  .l-warranty .swiper-button-prev {
    margin-right: 2px;
  }
  .l-warranty .swiper-button-next,
  .l-warranty .swiper-button-prev {
    width: 45px;
    height: 25px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .l-warranty__header {
    margin-bottom: 20px;
  }
  .l-warranty-card__title {
    font-size: 18px;
  }
  .l-warranty-card__number {
    font-size: 50px;
    line-height: 1;
  }
  .l-already {
    padding: 40px 0;
  }
  .l-already-input {
    margin-bottom: 30px;
  }
  .l-already__info {
    margin: 20px 0;
  }
  .l-already__title {
    font-size: 20px;
    line-height: 1.2;
  }
  .l-already__right {
    align-items: flex-start;
  }
  .l-already__button {
    margin-top: 20px;
  }
  .l-gallery {
    padding-top: 40px;
  }
  .l-gallery__title {
    margin-bottom: 20px;
  }
  .l-top__title {
    font-size: 30px;
    line-height: 37px;
  }
  .l-features-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .l-features-card__image {
    justify-content: center;
  }
  .l-features__title {
    text-align: center;
  }
  .l-warranty__title {
    font-size: 20px;
  }
  .l-warranty .swiper-button-next,
  .l-warranty .swiper-button-prev {
    width: 38px;
    height: 22px;
    margin: 0;
  }
  .l-warranty-card__title {
    font-size: 17px;
  }
  .l-warranty-card__number {
    font-size: 40px;
  }
  .l-warranty-card__text {
    font-size: 14px;
    line-height: 1.5;
  }
  .l-tasks-card__centered {
    transition: none;
  }
  .l-why-card {
    margin-left: 17px;
  }
  .l-top__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .l-top__text {
    font-size: 16px;
    line-height: 24px;
  }
  .l_mob_hide {
    display: none;
  }
  .l_show_mob {
    display: block;
  }
  .l-header-phone__number {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .l-header-phone {
    margin: 0;
    padding: 0;
  }
  .l-header {
    align-items: flex-start;
  }
  .l-header-link {
    width: 100%;
    margin: 19px 0 0 0;
    padding: 5px 7px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #95c132;
    text-align: center;
  }
  .l-top__title {
    margin-top: 60px;
  }
  .l-header-info {
    margin: 40px 0 0 0;
  }
  .l-modal__close {
    padding: 20px;
    img,
    svg {
      display: block;
      max-width: 20px;
      max-height: 20px;
    }
  }
  .l-thx__close {
    padding: 20px;
    img,
    svg {
      display: block;
      max-width: 20px;
      max-height: 20px;
    }
  }
  .l-contacts__close {
    padding: 20px;
    img,
    svg {
      display: block;
      max-width: 20px;
      max-height: 20px;
    }
  }
  .l-modal__content {
    align-items: center;
    text-align: center;
    &__title {
      margin: 0;
      font-size: 30px;
      line-height: 37px;
    }
  }
  .l-thx__content {
    align-items: center;
    text-align: center;
  }
  .l-contacts__content {
    align-items: center;
    text-align: center;
  }
  .l-modal__title {
    margin: 0 0 40px 0;
    font-size: 30px;
    line-height: 37px;
  }
  .l-thx__title {
    margin: 40px 0;
    font-size: 30px;
    line-height: 37px;
  }
  .l-thx__content img,
  .l-thx__content svg {
    max-width: 100px;
  }
  .l-thx__subtitle {
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 1.4;
  }
}
